* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--white: hsl(0, 0%, 95%);
	--greendark: hsl(178, 56%, 23%);
}

body {
	font: normal 1rem system-ui, sans-serif;
	background: var(--greendark);
	color: var(--white);
}

/* Wrapping the whole gosh darn page */
main {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	margin-bottom: 4rem;
	margin-top: 2rem;
}

/* Inside of <header> */
.hero {
	margin: 1rem;
	text-align: center;
}

.hero h1 {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

/* Form container */
.container {
	width: 60%;
	max-width: 1100px;
	margin: 0 auto;
}

.subhead {
	margin-block: 1rem;
}

/* Flex Outer (form) */
.flex-outer {
	margin: 0 auto;
	list-style-type: none;
}

.flex-outer>* {
	gap: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-outer label {
	padding: 0.5em;
	text-transform: uppercase;
	flex: 1 0 20%;
	text-align: right;
}

.flex-outer input {
	flex: 1 0 60%;
	background: hsl(0, 0%, 95%);
	max-width: 100%;
	padding: 0.5rem;
	border: none;
	font-size: 1rem;
	border-radius: 0.125rem;
	align-items: center;
	justify-content: center;
}

.btn-calc {
	margin: 0 auto;
	padding: 1rem 4rem;
	border: 0.25rem solid #444;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	border-radius: 0.25rem;
	transition: all 0.1s ease-in-out;
	transform: scale(1);
	min-width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-calc:hover,
.btn-calc:focus {
	transform: scale(1.01);
	background: #444;
	color: #f1f1f1;
	outline: none;
}

.btn-calc:active {
	transform: scale(1);
	background: #4d4d4d;
	color: #f3f3f3;
	border-color: #4d4d4d;
}

.display {
	text-align: center;
	margin: 2rem 1rem;
	font-size: 1rem;
}

form {
	background: #265451;
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
}

code {
	display: inline-block;
	margin: 1rem 0;
	padding: 0.125rem 0.25rem;
	font-size: 1rem;
	font-family: monospace;
	background: #f2f2f2;
	color: #333;
	font-weight: 600;
	border-radius: 0.125rem;
}

.diagram {
	background-color: rgba(242, 242, 242, 0.2);
	border-radius: 0.5rem;
}